    <footer>
      <div class="module module-green">
        <div class="row limit">
          <div class="one columns"><figure>
            <img src="{{base_url}}/images/logo.png" alt="">
          </figure></div>
          <div class="six columns">
            <p class="margin-bottom">Stay up to date with the TIMBY world, sign up for our newsletter.</p>
            <div>
              <div class="ten columns">
                <input type="text" class="input-small input-full-width">
              </div>
              <div class="two columns">
                <input type="submit" value="GO" class="btn btn-green btn-full-width">
              </div>
            </div>
          </div>
          <div class="two columns">
            <div class="row text-center">
              <div class="six columns">
                <a href="https://www.facebook.com/timby">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x  text-green"></i>
                  </span>
                </a>
              </div>
              <div class="six columns">
                <a href="https://www.facebook.com/Cubitts">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x  text-green"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="row text-center">
              <div class="six columns">
                <a href="https://www.facebook.com/Cubitts">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x  text-green"></i>
                  </span>
                </a>
              </div>
              <div class="six columns">
                <a href="https://www.facebook.com/Cubitts">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x  text-green"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="two columns">
            <ul class="text-list text-center">
              <li><a href="">Features</a></li>
              <li><a href="">Case Studies</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

<!-- Jquery, Slick and app.js  -->
<script defer src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script defer src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>

