<section class="mobile-menu hide-medium">
  <ul class="">
    <li><a href="">Features</a></li>
    <li><a href="">Case Studies</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Blog</a></li>
  </ul>
</section>
<header class="header">
  <div class="row limit">
    <div class="pull-left">
      <img src="{{base_url}}/images/logo.png" alt="" width="46" class="logo-name">
      <img src="{{base_url}}/images/logo-noname.png" alt="" width="36" class="logo-noname">
    </div>
    <div class="pull-right">
      <div class="hide-medium">
        <span class="fa fa-bars menu-control" id="menu_control"></span>
      </div>
      <ul class="horz-list menu hide-small">
        <li><a href="">Features</a></li>
        <li><a href="">Case Studies</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>

  </div>
</header>

