.funders
  background: $green
.funder-label
  background: $green
  padding: 1em
  color: white
  font-family: apercu-bold, helvetica, sans-serif
  float: left
  width: 15%
.funder-logos
  background: white
  padding: 1em
  float: left
  width: 85%
.funder-logo
  @include span-columns(1 of 6)
