.header
  // padding-top: 1.5em
  position: fixed
  width: 100%
  top: 0
  z-index: 3
  @include transition(all .2s ease-in)
  .logo-name
    @include transform(translateY(0px))
    @include transition(all .2s ease-in)
    position: absolute
  .logo-noname
    @include transform(translateY(-50px))
    @include transition(all .2s ease-in)
    position: absolute
  &.is-active
    background: white
    border-bottom: 1px $med-gray solid
    .logo-name
      @include transform(translateY(-100px))
    .logo-noname
      @include transform(translateY(14px))
    .menu
      a
        color: $black
        &.active
          color: white
          background: $green
      a:hover
        background: $green
        color: white



.menu
  color: $light-white
  a
    padding: .5em .75em
    border-radius: 2px
    font-size: 14px
    &.active
      color: $green
      background: white
  a:hover
    background: white
    color: $green
