.header
  padding-top: 1em
  position: fixed
  width: 100%
  top: 0
  z-index: 10
  @include transition(all .2s ease-in)
  .logo-name
    @include transform(translateY(0px))
    @include transition(all .2s ease-in)
    position: absolute
  .logo-noname
    @include transform(translateY(-50px))
    @include transition(all .2s ease-in)
    position: absolute
  &.is-active
    padding-top: 0
    background: $green
    // border-bottom: 1px $med-gray solid
    .logo-name
      @include transform(translateY(-100px))
    .logo-noname
      @include transform(translateY(10px))
    .menu
      a
        color: $light-white
        &.active
          color: white
          background: $green
      a:hover
        color: $green



.menu
  color: $light-white
  a
    padding: .5em .75em
    border-radius: 2px
    font-size: 14px
    &.active
      color: $green
      background: white
  a:hover
    background: white
    color: $green
.menu-control
  color: white
.mobile-menu
  @include transform(translateX(-30em))
  @include transition(all .2s ease-in)
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: $yellow
  z-index: 8
  padding-top: $menu-height
  &.active-menu
    @include transform(translateX(0))
  ul
    list-style: none
    text-align: center
    padding: 0
    margin: 0
    font-family: apercu-bold, helvetica, sans-serif
    color: white
    font-size: 36px
    li a
      display: block
      padding: .5em 0
      width: 100%
